<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          https://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop
          https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="productService" class="com.ecommerce.service.impl.ProductServiceImpl"/>

    <bean id="orderService" class="com.ecommerce.service.impl.OrderServiceImpl">
        <property name="productService" ref="productService"/>
    </bean>

    <bean id="paymentService" class="com.ecommerce.service.impl.PaymentServiceImpl">
        <property name="orderService" ref="orderService"/>
    </bean>

    <bean id="loggingAspect" class="com.ecommerce.aop.LoggingAspect"/>

    <aop:config>
        <aop:aspect ref="loggingAspect">
            <aop:pointcut id="serviceMethods"
                          expression="execution(* com.ecommerce.service.ProductService.addProduct(..))
                                   || execution(* com.ecommerce.service.OrderService.placeOrder(..))
                                   || execution(* com.ecommerce.service.PaymentService.processPayment(..))"/>
            <aop:before pointcut-ref="serviceMethods" method="logBefore"/>
            <aop:after pointcut-ref="serviceMethods" method="logAfter"/>
        </aop:aspect>
    </aop:config>

</beans>
